@import '@globalStyles/common/mixins';

.page {
  padding-top: 40px;
  background: #f0f0f0;

  @include mobile {
    padding-top: 15px;
  }
}

.contentArea {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.uiHeader {
  padding: 20px 15px 0;
  margin-bottom: 15px;

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    color: #00b5ad;

    @include mobile {
      font-size: 20px;
    }
  }
}

.pageAvatar {
  margin-bottom: 20px;

  img {
    width: 100%;
  }
}

.pageContent {
  padding: 0 15px 20px;

  &__share {
    margin-top: 10px;
  }
}

.additional {
  padding: 25px 15px;

  &__saleFree {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  &__des {
    color: #666;
    margin-bottom: 15px;
    font-size: 15px;

    i {
      font-size: 20px;
      width: 30px;
      color: #7e7e7e;
    }
  }
}
